/* ============================================================
   File: uebung_1.css
   Authors: Teodora Stokic & Margarita Grigoreva
   Date: 23.02.2026
   Description: stylesheet for roblox games page
   ============================================================ */
h1 {
    font-weight: 800;
    font-size: 3rem;
}

.top5 li {
    font-weight: 600;
    font-size: 2.5rem;
}
